.App {
  text-align: center;
}

.App-logo {
   height: 25px;
   
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Nav{
  list-style-type: none;
  margin:0;
  padding:0;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  border:1px solid black;
  height:120px;
  background-color:black;
}

.LeftRail{
  display: flex;
  align-items:left;
  width:200px;
  height:300px;
  margin:auto;
  margin-block-start: 10%;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  padding: 16px
}

.CenterRail{
  display:flex;
  width:500px;
  height:550px;
  margin:auto;
  margin-block-start: 10%;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  padding: 16px;
}

.RightRail{
  display: flex;
  align-items:left;
  width:200px;
  height:150px;
  margin:auto;
  margin-block-start: 10%;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  padding: 16px
}