.App {
  text-align: center;
}

.App-logo {
   height: 35px;
   margin: -50px 0px 25px 77px;
}

.App-header {
  background-color: gray;
  height: 30px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Nav{
  list-style-type: none;
  margin:0;
  padding:0;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  border:1px solid gray;
  height:60px;
  background-color:gray;
}
.end{
  display: flex;
  align-content: flex-end;
  align-items: center;
  flex-direction: row;
}
.icons{
  display: flex;
  align-content: flex-end;
  align-items: center;
  flex-direction: row;
}
form {
  width: 80%;
  margin-block-start: 20%;
}
.Rails{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-between;

}
.LeftRail{
  display: flex;
  align-items:left;
  width:200px;
  height:300px;
  margin:auto;
  margin-block-start: 5%;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  padding: 16px
}

.CenterRail{
  display:flex;
  width:500px;
  height:550px;
  margin:auto;
  margin-block-start: 5%;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  padding: 16px;
}

.RightRail{
  display: flex;
  align-items:left;
  width:200px;
  height:150px;
  margin:auto;
  margin-block-start: 5%;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  padding: 16px
}